* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to bottom, #d8ffe4, #aaffc6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background: #ffffff;
    padding: 40px;
    border-radius: 18px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.datos {
    font-size: 28px;
    color: #05944f;
    margin-bottom: 25px;
}

.form a {
    display: block;
    text-decoration: none;
    background: #2ecc71;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin: 12px 0;
    font-size: 18px;
    transition: 0.3s;
    font-weight: bold;
}

.form a:hover {
    background: #25a75c;
    transform: scale(1.05);
}
